<form
  [formGroup]="forgotpasswordForm"
  (ngSubmit)="onSubmit(forgotpasswordForm.value)"
>
  <div class="relative">
    <div class="m-3">
      <div class="flex flex-col mt-10">
        <mat-label class="ml-3 font-bold">Old password</mat-label>
        <mat-form-field class="w-1/2 m-2">
          <input
            matInput
            placeholder="Old password.."
            value=""
            type="password"
            formControlName="password"
          />
        </mat-form-field>
        <div
          *ngIf="
            fc['password'].touched &&
            fc['password'].errors &&
            fc['password'].errors['required']
          "
        >
          <div class="text-red-400 font-bold">Password is required***</div>
        </div>
        <div class="flex flex-col mt-0">
          <mat-label class="ml-3 font-bold">New password</mat-label>
          <mat-form-field class="w-1/2 m-2">
            <input
              matInput
              placeholder="New password.."
              value=""
              type="password"
              formControlName="newpassword"
            />
          </mat-form-field>
        </div>
        <div
          *ngIf="
            fc['newpassword'].touched &&
            fc['newpassword'].errors &&
            fc['newpassword'].errors['required']
          "
        >
          <div class="text-red-400 font-bold">new password is required***</div>
        </div>
        <div class="flex flex-col mt-0">
          <mat-label class="ml-3 font-bold">Confirm password</mat-label>
          <mat-form-field class="w-1/2 m-2">
            <input
              matInput
              placeholder="confirm password.."
              value=""
              type="password"
              formControlName="confirmNewPassword"
            />
          </mat-form-field>
        </div>
        <div
          *ngIf="
            fc['confirmNewPassword'].touched &&
            fc['confirmNewPassword'].errors &&
            fc['confirmNewPassword'].errors['required']
          "
        >
          <div class="text-red-400 font-bold">
            confirm password is required***
          </div>
        </div>
        <div *ngIf="forgotpasswordForm.hasError('passwordMismatch')">
          <div class="text-red-400 font-bold">Passwords do not match</div>
        </div>
      </div>
      <div class="m-5">
        <button
          mat-raised-button
          [disabled]="!forgotpasswordForm.valid"
          color="primary"
          class="bg-[#001D6D] px-10 p-4 text-white mt-5 rounded-lg"
        >
          Update password
        </button>
      </div>
    </div>
    <div *ngIf="showLoading">
      <ngx-spinner class="bg-ye" type="ball-scale-multiple"></ngx-spinner>
    </div>
  </div>
</form>
