<div class="flex justify-center items-center h-screen">
  <div class="bg-white p-8 rounded shadow-lg">
    <div class="flex justify-center">
      <img src="./assets/ntwrk.png" alt="" />
    </div>
    <div class="text-3xl mb-4 font-bold">Network Error</div>
    <p class="text-xl text-red-600">
      Oops! It looks like you are offline. Please check your network connection
      and try again!!!!!
    </p>
    <div class="flex">
      <mat-icon>arrow_left</mat-icon>

      <a
        class="cursor-pointer hover:text-pink-500 flex justify-center items-center"
        routerLink="/dashboard"
      >
        Back to dashboard
      </a>
    </div>
  </div>
</div>
