<div
  class="{{ sty }}"
  class="w-[220px] h-[200px] mx-6 rounded-lg flex items-center"
>
  <div class="m-5 w-full">
    <h2>{{ name }}</h2>
    <div class="mt-10 flex justify-between">
      <div class="text-2xl font-bold">{{ price1 }}</div>
      <div class="flex items-center gap-2">
        <div class="text-xs font-bold">+1.127</div>
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="  trending_up"
        ></mat-icon>
      </div>
    </div>
  </div>
</div>
