<h2 mat-dialog-title>
  <div class="flex gap-3 items-center border-b border-b-gray-300 w-full p-2">
    <div>Notification</div>
    <mat-icon
      aria-hidden="false"
      aria-label="Example home icon"
      fontIcon="keyboard_arrow_down"
    ></mat-icon>
  </div>
</h2>
<mat-dialog-content>
  <div class="flex flex-col">
    <div
      class="m-1 flex w-full gap-2 cursor-pointer border-b border-b-gray-300 p-2"
    >
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="person"
        class="mt-0.5"
      ></mat-icon>
      <div class="flex flex-col mt-1">
        <div class="text-sm">New user transaction</div>
        <div class="text-xs">50mins ago</div>
      </div>
    </div>
    <div
      class="m-1 flex w-full gap-2 cursor-pointer border-b border-b-gray-300 p-2"
    >
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="notes"
        class="mt-0.5"
      ></mat-icon>
      <div class="flex flex-col mt-1">
        <div class="text-sm">Complaint mode</div>
        <div class="text-xs">Today 11:50am</div>
      </div>
    </div>
    <div
      class="m-1 flex w-full gap-2 cursor-pointer border-b border-b-gray-300 p-2"
    >
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="person"
        class="mt-0.5"
      ></mat-icon>
      <div class="flex flex-col mt-1">
        <div class="text-sm">New user transaction</div>
        <div class="text-xs">50mins ago</div>
      </div>
    </div>
    <div
      class="m-1 flex w-full gap-2 cursor-pointer border-b border-b-gray-300 p-2"
    >
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="notes"
        class="mt-0.5"
      ></mat-icon>
      <div class="flex flex-col mt-1">
        <div class="text-sm">Complaint mode</div>
        <div class="text-xs">Today 11:50am</div>
      </div>
    </div>
    <div
      class="m-1 flex w-full gap-2 cursor-pointer border-b border-b-gray-300 p-2"
    >
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="person"
        class="mt-0.5"
      ></mat-icon>
      <div class="flex flex-col mt-1">
        <div class="text-sm">New user transaction</div>
        <div class="text-xs">50mins ago</div>
      </div>
    </div>

    <div
      class="m-1 flex w-full gap-2 cursor-pointer border-b border-b-gray-300 p-2"
    >
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="person"
        class="mt-0.5"
      ></mat-icon>
      <div class="flex flex-col mt-1">
        <div class="text-sm">New user transaction</div>
        <div class="text-xs">50mins ago</div>
      </div>
    </div>
    <div
      class="m-1 flex w-full gap-2 cursor-pointer border-b border-b-gray-300 p-2"
    >
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="notes"
        class="mt-0.5"
      ></mat-icon>
      <div class="flex flex-col mt-1">
        <div class="text-sm">Complaint mode</div>
        <div class="text-xs">Today 11:50am</div>
      </div>
    </div>
    <div
      class="m-1 flex w-full gap-2 cursor-pointer border-b border-b-gray-300 p-2"
    >
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="person"
        class="mt-0.5"
      ></mat-icon>
      <div class="flex flex-col mt-1">
        <div class="text-sm">New user transaction</div>
        <div class="text-xs">50mins ago</div>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
